body{
    margin: 0;
    padding: 0;
    background: url('http://fohfaoi.com/images/logo.png');
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-position: top;
    background-color: #fdfdfd;
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    border-radius: 5px;
    transition: .5s;
}
.loginBox:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,10);
    background: rgba(255,255,255,1)
}
.glass{
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
    transition: .5s;
}
.glass:hover{
    transform: translate(5px, 5px);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}
.user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;

}
h3{
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}
::placeholder{
    color: rgba(0,0,0,.5);
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 10px;
    color: #262626;    
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ed292a;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
}
.loginBox a{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}
.modal-tabelinha-hidden{
    width: 0;
    height: 0;
    opacity: 0;
}
.modal-tabelinha{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 9999;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}
.tabelinha-nova{
    width: 320px;
    height: 150px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 0vh;
    border-radius: 10px;
    transform: translateY(-50%);
    text-align: center;
}
.tabelinha-nova form{
    display: none;
}
.tabelinha-nova input{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    color: #262626;
    background: transparent;
    width: 70%;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    font-size: 16px;
    font-family: sans-serif;
}
.tabelinha-nova input[type="submit"]{
    width: 70%;
    margin-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ed292a;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
}
.fecha-modal{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.tabelinha-nova .dados_titulo, .tabelinha-nova .dados_jogo{
display: grid; 
grid-template-columns: 2% 4% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 6%;
padding: 2px;
}

.tabelinha-nova .dados_titulo{
    font-weight: bold;
    background-color: #fdfdfd;
}