#header {
    padding: 1em 0 0 0;
}

#header h1 {
 padding: 0 0 1em 0;
}
#header h1 a {
    font-size: 2.5em;
   }

#nav {
    text-transform: uppercase;
    line-height: 0;
}

.logotipo img {
    width: 40%;
}

.logologo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a:hover {
  
    color: #00923f;
    text-decoration: none;
    border-bottom: dotted 1px;
}

ul li a:hover {
  
    color: #00923f;
    text-decoration: none;
    border-bottom: dotted 1px;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
   
    background-color: #00923f;
    
    color: #fff;
}

#nav:after {
    background-color: #00923f;
    
}

#nav  ul  li.current:before {
    background-color: #00923f;
 
}

.icon.major {
    
    background-color: #00923f;
}

.wrapper.style3 {
    background-color: #00923f;
}

#footer {
    padding: 4em 0 2em 0;
}

.inner h4, h3 {
    
    line-height: 1.5em;
    margin-bottom: 0em;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 174px;
}



.wrapper.style1 {
    background: #fff0;
}

.wrapper.style2 {
    border-bottom: 1px solid #00000026;
}

.wrapper {
    padding: 3em 0 1em 0;
}

.wrapper.style1.grass {
    background-image: url(images/grass.png);
    background-attachment: fixed;	
    background-repeat: no-repeat;	
    background-position: center center;
    

}
.wrapper.style1.grass h2 {
    margin-left: 40%;
    font-size: 230%;
}
#cta {
    text-align: center;
    padding: 1em 0;
}

.button:hover {
    color: black;
}

.barra {
    background-color: black;
    
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    
  }

  .bt {
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    height: 35px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    } 
    
    .bt-vd {
    border-color:#68b465;
    background:linear-gradient(to bottom, #abd5aa 5%, #68b465 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color:#fff;
    text-shadow:0px 1px 0px #528009;
    }
    
    
    .bt-vd:hover {
    background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
    }

    
    .bt:active {
    position:relative;
    top:2px;}

    .bt h4 {
        margin-bottom: 
    }
    
   .linkins {
       margin-right: 25%
   }

   .highlight h3 {
       margin-bottom: 10px;
   }

   @media screen and (max-width: 840px) {

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8.5em;
    }
    .box.highlight {
        padding-left: 0px;
    }

    .linkins {
        margin-left: 25%;
    }
    .wrapper.style1.grass h2 {
        margin-left: 35%; }
        .boxManchete {
            display: flex;
            flex-direction: column;
        
        }
        .imageManchete {
            margin-right: 0%;
            margin-left: 1%;
            width: 50%;
        }
        .secaomanchete h3 {
            margin-left: 1%;
            font-size: 150%;
        }
        
        .manchetes {
            margin-top: 6.5%;
            font-size: 125%;
            margin: 1%;
        }

        .imageManchete img {
            max-width: 195%;
        }
}
@media screen and (max-width: 480px) {

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 6.3em;
    }

    .wrapper.style1.grass h2 {
        margin-left: 15%; }
        .boxManchete {
            display: flex;
            flex-direction: column;
        
        }
        .imageManchete {
            margin-right: 0%;
            margin-left: 1%;
            width: 50%;
        }
        .secaomanchete h3 {
            margin-left: 1%;
            font-size: 150%;
        }
        
        .manchetes {
            margin-top: 6.5%;
            font-size: 125%;
            margin: 1%;
        }

        .imageManchete img {
            max-width: 195%;
        }
      
}

.secaomanchete {
    border-bottom: solid black 1px;
}

.boxManchete {
    display: flex;

}
.imageManchete {
    margin-right: 2%;
    margin-left: 1%;
}
.secaomanchete h3 {
    margin-left: 1%;
    font-size: 150%;
}

.manchetes {
    flex-flow: wrap;
    font-size: 125%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}