
/*Ball Version*/
/*.button-menu {
     background: #16a1b8;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 100%;
    right: auto;
    z-index: 20;
    transition: 1s ease-in-out; 
}*/


/*.button-menu.active {
    position: absolute;
    right: auto;
    /* left: calc(100% - 40px);
    left: 100%;
    margin-left: -40px;
    transition: 0.3s ease-in-out;
} */

/*.button-menu:before {
     font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e3";
    color: #171717;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    transform: rotate(-180deg);
    transition:1s ease-in-out; 
}*/

/*.button-menu.active:before {
     transform: rotate(180deg);
    transition: 1s ease-in-out; 
}*/


/*Sidebar Version*/
.button-menu {
    /* Inactive element   */
    background: #3e444a;
    cursor: pointer;
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    z-index: 20;
    transition: 0.3s ease-in-out;
}


.button-menu.active {
    transition: 0.3s ease-in-out;
}

.button-menu:before {
    /* Inactive element   */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    background: linear-gradient(90deg, #171717 0 30%, transparent 30% 71%, #171717 71% 100%);
    width: 45%;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.button-menu.active:before {
    transition: 0.3s ease-in-out;
}


.container-menu__wrap {
    /* Inactive element   */
    height: 100vh;
    position: absolute !important;
    top: 0;
    left: 20px;
    right: auto;
    transform: translate(-100%, 0);
    transition: 0.3s ease-in-out;
}

.container-menu__wrap.active {
   position: relative !important;
   height: 100vh;
   left: auto;
   right: 0;
   transform: translate(0, 0);
   transition: 0.3s ease-in-out;
}

.container-content {
   /* Inactive element   */
   flex-direction: column;
   width: 100%;
   max-width: 90%;
   margin: 0 auto;
   transition: .3s ease-in-out;
}

.container-content.active {
   max-width: 83%;
   transition: .6s ease-in-out;
}


.container-menu .menu {
    padding-top: 7px;
}