.lista-dados{
    text-align: center;
    border-collapse: collapse;
    padding: 0;    
}
.lista-dados__titulos{
    vertical-align:top;
    font-size: 14px;
    font-weight: bold;
    margin:0;
    border-bottom: 1px solid #dee2e6;
    padding: 1px;
}
.lista-dados__infos{
    margin:0;
    padding:0;
    font-size: 12px;
    border-top: 1px solid  #dee2e6;
}
.lista-dados__linhas{
    border-bottom: 1px solid #dee2e6;
}
.lista-dados__infos .id_num{
    font-weight: bold;
    font-size: 13px;
}
.titulo-campo{
    border: 0;
    font-weight: bold;
}
