/* @import "main.css"; */

/*@import "reset.css";*/

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Permanent+Marker|Montserrat&display=swap');

*{

    margin: 0;

    padding: 0;    

}



ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

	content: none;

}

body{

    font-family: 'Montserrat', sans-serif;

    font-size: 14px;
    background-color: blue;

}



a{

    color: white;

    font-weight: bolder;

    text-transform: uppercase;

    font-size: 12px;

}

.container{  
    position: relative;
    width: 100%;
}

.container-menu{
    position: fixed;
    width: 100%;
    top: 0px;
    height: auto;
    z-index: 1;
    /* border: 1px solid blue; */
    background: linear-gradient(to bottom, #ffffff -34%, #000000 17%);

}

    .main-bar{

        display: flex;

        flex-wrap: nowrap;

        width: 100%;

        height: 50px;

        

        align-items: center;

        justify-content: center;

    }
    .main-bar:nth-child(2){
        background: linear-gradient(to top, #ffffff -34%, #000000 17%);
    }

            .title{

                margin-left: 35%;

                display: flex;

                font-family: 'Shadows Into Light', cursive;

                font-size: 25px;

                width: 100%;

                background: transparent;

                color: #FFF;    

                text-transform: uppercase;

                padding: 10px 0 0 0;

            }

            .title .logo img{

                height: 49px;

            }

            .title-sub{

                font-family: 'Permanent Marker', cursive;

                text-transform: capitalize;

                margin-right: 10px;

                margin-left: 25px;

            }

            .title a{

                position: absolute;

                line-height: 50px;

                right: 50px;

            }

            .menu .login{

                position: absolute;

                right: 10%;

            }

            @media only screen and (max-width: 750px){

                .menu-links{
            
                    display: none !important;
            
                }
            
                .title{
            
                    margin-left:0 !important;
            
                }
            
            }
            .main-bar ul{

                display: inline-flex;

                justify-content: space-between;

                width:80%;

                height: 50px;

            }

            .main-bar li{

                white-space: nowrap;

                line-height: 50px;           

                text-align: center;

                vertical-align: middle;

                font-size: 18px;

                color: #FFF;

                font-weight: bold;

                width: 12.5%;

                

                

            }

            .main-bar li:hover{

                background-color: #FF6347;

                cursor: pointer;

            }



/* .prox-jogo{

    border: 1px solid black;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: 'Montserrat', cursive;

    font-size: 20px;

    width: 100%;

    background-color: #56775d;

    color: #FFF;

    text-align: center;

    text-transform: uppercase;

    padding:0;

}

.prox-jogo .time:nth-child(1){

    margin-right: 15px;

}

.prox-jogo .time:nth-child(3){

    margin-left: 15px;

} 

.divisor{    
    font-size: 100px;
}*/

.content-infos{

    position: absolute;

    top: 100px;

    width: 100%;

    color: #000;

    text-align: center;

    text-transform: uppercase;

    font-weight:bolder;

    font-size: 40px;

    
    background-color: #f8f8f8;

}
.infos-coluna-main{
    position: relative;
    width: 80%;
    margin: 0 10%;
    text-align: left;
}

.infos-coluna-main h6{
    font-size: 30px;
    color: #970600;
    text-transform: capitalize;
    text-align: center;
}

        .patrocinador{
            margin-top: 40px;
            text-align: center;
        }
        .patrocinador img{
            width: 820px;
            height: 320px;
        }

        @media only screen and (max-width: 750px){
            .patrocinador img{
                width: 400px;
                height: unset;
            }
        }

        /* .patrocinador .anuncio{
            position: absolute;
            font-size: 40px;
            color: black;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        } */

    .novidades{
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: inline;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
        
        padding-left: 10%;
    }
    .novidades-title{
        font-size: 30px;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    .novidades-text{        
        background-color: rgb(239, 227, 177);
        padding: 20px;
        flex-direction: inline;
        font-size: 13px;
        text-transform: none;
        text-align: justify;
        border: 0.5px solid #1e1e1e;
        border-radius: 5px;
    }
    .novidades-link{
        width: 120px;
        height: 20px;
        margin: 10px 0 30px 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: #000000;
        position: relative;
    }
    .novidades-link a{
        position: absolute;
        font-size: 8px;
        width: 120px;
        height: 20px;
        left: 0;
        top: 0;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    .novidades-1{
        width: 24%;
        min-width: 220px;
    }
    .novidades-2{
        width: 24%;
        min-width: 220px;
    }
    .novidades-3{
        width: 24%;
        min-width: 220px;
    }
    @media only screen and (max-width:750px){
        .novidades{
            padding-left: 5%;
        }
        .novidades-link{
            width: 240px;
            height: 40px;
        }
        .novidades-link a{   
            width: 240px;
            height: 40px;
            font-size: 20px;
            line-height: 40px;
        }
        .novidades-text{
            font-size: 20px;
        }
        .novidades-1{
            min-width: 400px;
        }
        .novidades-2{
            min-width: 400px;
        }
        .novidades-3{
            min-width: 400px;
        }

    }
   

    .coluna-aniversariantes{

        width: 80%;

        display: flex;

        flex-wrap: wrap;

        justify-content: space-between;

        /* overflow: hidden; */

        font-size: 15px;

        margin-top: 40px;

        margin-bottom: 40px;

        margin-left: 50%;

        transform: translateX(-50%);

    }

        .info-aniversariante{

            width: 320px;

            flex-direction: column;

            overflow: hidden;

            text-transform: capitalize;

            padding-bottom: 25px;

        }

        .coluna-aniversariantes img{

            height: 200px;

            /* margin-left: -80px; */

        }





.rodape {  

    width: 100%;

    height: 80px;

    position: relative;

    bottom: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: 'Shadows Into Light', cursive;

    font-size: 15px;

    background-color: #000;

    color: #FFF;

    text-align: center;

    text-transform: uppercase;

    padding: 10px 0 0 0;

}

.rodape p{

    flex-wrap: nowrap;

}