@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Permanent+Marker|Montserrat&display=swap');
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container{
    text-align: center;
}

.detalhes-1 .container-sumula.resultado > * {    
    margin-right: 1%;
}

@media screen and (max-width:776px){
    .detalhes-1 .container-sumula.resultado > * {    
        margin: 10px auto 20px;
    }
}

.container-sumula.resultado {
    margin: 0 0 20px;
}

.container-sumula{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.container-sumula table.first {
    margin-right: 3%;
}

.container-sumula tr td input {
    width: 90%;
    padding: 0 10px;
}


.container-sumula table th, .container-sumula table td{
    padding: 5px 0px;
}
.container-sumula table{
    border-spacing: 0;
    margin-bottom: 20px;
    width: 80%;    
}

@media screen and (max-width:776px){
    .container-sumula table{
        width: 90%;    
    }
}

.container-sumula table.sumula-gols thead {
    background: #2fce27;
}

.container-sumula table thead{
    background: #60d9eb;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.container-sumula tbody tr:nth-child(2n){
    background: #e9e9e9;
}
.sumula-escalacao{
    width: 80%;
    /* min-width: 600px; */
    text-align: center;
}
/* .sumula-escalacao thead th{ */
    /* border: 1px solid black; */
/* } */
.sumula-escalacao thead th:nth-child(2){
    background: #c5c511;
}
.sumula-escalacao thead th:nth-child(3){
    background: #2980b9;
}
.sumula-escalacao tbody tr td:nth-child(1){
    width: 10%;
    min-width: 80px;
}
.sumula-escalacao tbody tr td:nth-child(2){
    width: 40%;
    /* border: 1px solid #b4b4b4; */
    /* border-width: 0 1px 0 1px; */
    /* background: rgba(224, 224, 37, 0.247); */
}
.sumula-escalacao tbody tr td:nth-child(3){
    width: 40%;
    /* background: rgb(74, 74, 212, 0.247); */
}
.sumula-escalacao tbody tr td:nth-child(4){
    width: 10%;
    min-width: 80px;
} 

.detalhes-1 .arbitragem {
    margin: 10px 0 20px;
}

.detalhes-1{
    width: 80%;
    /* display: inline-flex; */
    /* justify-content: space-between; */
}

@media screen and (max-width:776px){
    .detalhes-1 {
        width: 90%;    
    }
}

.sumula-arbitragem{
    width: 40%;
}
.sumula-arbitragem tbody td:first-child{
    background: #e9e9e9;
}
.sumula-arbitragem tbody tr td:nth-child(2){
    /* background: rgba(224, 65, 37, 0.247); */
}
.sumula-cartoes{
    width: 400px;
}

@media screen and (max-width:776px){
    .container-sumula.cartoes .sumula-cartoes {
        width: 100%;
    }
}

.sumula-cartoes thead tr:nth-child(2){
    background: #c5c511;
}
.sumula-cartoes thead th:nth-child(2){
    /* background: rgb(74, 74, 212); */
    background: #2980b9;
}
.sumula-cartoes thead th:nth-child(3){
    /* background: rgba(224, 65, 37); */
    background: #ea6153;
}
.sumula-cartoes tbody tr td:nth-child(1){
    /* background: rgba(224, 224, 37, 0.247); */
}
.sumula-cartoes tbody tr td:nth-child(2){
    /* background: rgb(74, 74, 212, 0.247); */
}
.sumula-cartoes tbody tr td:nth-child(3){
    /* background: rgba(224, 65, 37, 0.247); */
}